pkgbase = arch-manager
	pkgdesc = Graphical Arch Linux manager: packages, updates, Snapper and maintenance (beta)
	pkgver = 0.7.0beta1
	pkgrel = 1
	url = https://github.com/tzkwork-sys/arch-manager
	arch = any
	license = GPL-3.0-only
	checkdepends = python-pytest
	checkdepends = desktop-file-utils
	depends = python
	depends = pyside6>=6.7
	depends = pacman
	depends = pacman-contrib
	depends = sudo
	depends = polkit
	depends = appstream
	depends = xterm
	depends = hicolor-icon-theme
	optdepends = yay: AUR applications and updates
	optdepends = snapper: snapshot management (requires an existing root configuration)
	optdepends = btrfs-progs: Btrfs snapshot management
	optdepends = smartmontools: SMART disk diagnostics
	optdepends = nvme-cli: additional NVMe diagnostics
	optdepends = polkit-kde-agent: graphical authentication in KDE Plasma
	optdepends = polkit-gnome: graphical authentication in other desktops
	optdepends = konsole: preferred terminal in KDE Plasma
	optdepends = meld: graphical comparison of pacnew configuration files
	options = !debug
	options = !strip
	source = arch-manager-0.7.0-beta.1-source.tar.gz::https://github.com/tzkwork-sys/arch-manager/releases/download/v0.7.0-beta.1/arch-manager-0.7.0-beta.1-source.tar.gz
	source = prepare-layout.py
	source = arch-manager-gui
	source = enable-snapper-read.sh
	source = arch-manager.rules
	source = check-package.py
	source = README.md
	sha256sums = 7116dcf211b5d722dcd0e877ca9cb75a9e8036724cff3f525c4d2e57d111169e
	sha256sums = 813b5a2e654e5472b113966904c85a49763416d00b8852c879602313bb61bc70
	sha256sums = 1ce51531d0e7226cdbad6d37eb15e3f5e63d5a5c4d838a2d7063133b33d3201f
	sha256sums = 9475065bcd9a1621e6268aa029676940527c7bf1ac172ffd11d5b15814ba0a94
	sha256sums = 944fb9a24c6758c27585bb94620d294c3ce73365d5d627dd3ca1a337985c20ad
	sha256sums = 851f0200327aefcb9fdc946242a665fce9967af7fcdaae8d91faa5b543ba3650
	sha256sums = 794d64e0db8813df5b6d3524af641f6b67476d4e4d6e468da0fbb5bdffc7592e

pkgname = arch-manager
